/* Hamburger */

.hamburger {
    position: fixed;
    z-index: 9999;
    padding: 15px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger div {
    background-color: black;
    border-radius: 1px;
    height: 6px;
    width: 30px;
}

.hamburger div:not(:last-child) {
    margin-bottom: 5px;
}


/* Side Nav */

nav {
    background-color: rgb(40, 128, 228);
    display: inline-block;
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -250px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: left;
    color: black;
    padding: 5px 5px;
}

nav a:hover {
    background-color: #f5f5f5;
    text-decoration: underline;
}

nav a:visited {
    color: black;
}

nav a.active {
    background-color: black;
    color: white;
}

nav,
.hamburger,
.cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.sidenav-active nav,
.sidenav-active .hamburger,
.sidenav-active .cover {
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    transform: translateX(250px);
}


/* Main */

.main {
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.sidenav-active .main {
    margin-left: 250px;
}

section {
    color: black;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
}


/* Map Icons */

.map-icon {
    transform: translate(-13px, -33px);
    color: fuchsia;
    width: 100%;
    height: auto;
    stroke: black;
    stroke-width: 10;
}